@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(244, 249, 252);
  --foreground: rgb(15, 27, 97);
  --link: oklch(.511 .262 276.966);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(15, 23, 42);
    --foreground: rgb(148, 163, 184);
    --link: #09B6E6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  background-color: #367D91;
}

.link {
  color: var(--link);
}